* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: $Firefly;
    height: 900px;
}

hr {
    margin: 30px 0;
    color: $Polo-Blue;
}

h1 {
    margin-top: 30px;
    font-weight: $Outfit-bold;
    font-size: 14px;
    color: $White;
}

h2 {
    font-size: 12px;
    font-weight: $Outfit-medium;
    color: $Cyan;
}

p {
    margin: 18px 0 25px;
    font-size: 12px;
    font-weight: $Outfit-normal;
    color: $Polo-Blue;
}