@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Medium.ttf') format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-SemiBold.ttf') format('ttf');
    font-weight: 600;
}