/*
*Colors
*
    **Primary
    */

    $Polo-Blue: #8BACDA;
    $Cyan : #00FFF7;

    /**Neutral
    */   

    $Firefly: #0D192B;
    $Big-Stone: #14253D;
    $Pickled-Bluewood: #2F415B;
    $White: #FFFFFF;

/*
*Font
*/

    $Outfit: 'Outfit', sans-serif;

    $Outfit-medium: 300;
    $Outfit-normal: 400;
    $Outfit-bold: 600;